

body{
    background-color: #e5e5e5;
    font-family: sans-serif;
}


.container {
    width: 40%;
    height: 100%;
    margin: auto;
    border: 1px solid #fff;
    background-color: #fff;
}

.center {
    text-align: center;
}

.drop-down {
    color: #0000ff;
    padding: 6px;
    font-size: 1vw;
}

.city {
    margin-top: 8%;
    margin-bottom: 20%;
    cursor: pointer;
    font-size: 1.5vw;
}

.msg-container {
    width: 75%;
    padding-left: 10%;
}

.msg-greeting {
    font-size: 3.2vw;
    margin: 5% 0;
}

.msg-body {
    font-size: 1.7vw;
    color: #959191;
}

.info-container, .details-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.info-container {
    margin: 20% 0 2% 0;
}

.details-text {
    margin-left: 30%;
}

.details-text p {
    margin: 0px;
}

.details-text :first-child {
    color: #959191;
    font-size: 1.5vw;
}

.details-text :nth-child(2){
    color: #000;
    font-size: 3vw;
}

.remaining-time-circle {
    position: relative;
    margin-left: 30%;
}

.remaining-time-outter {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px solid;
    width: 40%;
    height: auto;
    padding-top: 40%;
    border-radius: 50%;
    border-color: #eae7e7 #ffa500 #ffa500 #ffa500;
    transform: rotate(-45deg);
}
.remaining-time-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 3px solid;
    width: 40%;
    height: auto;
    padding-top: 40%;
    border-radius: 50%;
    border-color: #eae7e7 transparent transparent transparent;
    transform: rotate(-75deg);
}

.average-speed-circle {
    position: relative;
    border: 3px solid;
    width: 30%;
    height: auto;
    padding-top: 30%;
    border-radius: 50%;
    margin-left: 30%;
    border-color: #eae7e7 #eae7e7 transparent #eae7e7;
}

.inner-circle {
    position: absolute;
    top: 47%;
    left: 47%;
    width: 7%;
    height: auto;
    padding-top: 7%;
    border-radius: 50%;
    background-color: #ff0000;
}

.speed-pointer {
    position: absolute;
    top: 36%;
    left: 49%;
    width: 31%;
    height: 2%;
    background-color: #ff0000;
    transform: rotate(317deg);
}

.progress-bar-container {
    position: relative;
    margin-top: 15%;
}

.progress-bar-dashed {
    position: absolute;
    border-top: 2px dashed #eae7e7;
    width: 50%;
    top: 0px;
}

.progress-bar-solid {
    position: absolute;
    margin-left: 10%;
    border-top: 2px solid #eae7e7;
    width: 78%;
}

.progress-bar-blue {
    position: absolute;
    margin-left: 16%;
    border-top: 2px solid #0000ff;
    width: 40%;
}

.start-circle {
    position: absolute;
    margin-left: 10%;
    top: -0.5vw;
    text-align: left;
    color: #0000ff;
    font-size: 1.2vw;
    line-height: 1.2vw;
}

.pick-up-point {
    position: absolute;
    margin-left: 88%;
    top: -0.5vw;
    text-align: left;
    color: #0000ff;
    font-size: 1.2vw;
    line-height: 1.2vw;
}

.progress-bar-text {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: auto;
    margin-top: 12%;
    font-size: 1.5vw;
    color: #959191;
}

.progress-bar-right {
    text-align: right;
}

.progress-bar-right p{
    padding-left: 60%
}

.button {
    width: 80%;
    margin: 10% auto;
}

.button button {
    width: 100%;
    background-color: #0000ff;
    border-radius: 6px;
    padding: 8%;
}

/* media queries */

@media screen and (max-width: 425px) {
    .start-circle {
        top: 0
    }

    .pick-up-point {
        top: 0
    }
    
    .speed-pointer {
        height: 3%;
    }

    .remaining-time-inner, .remaining-time-outter, .average-speed-circle {
        border-width: 2px;
    }

    .progress-bar-solid, .progress-bar-dashed, .progress-bar-blue {
        border-width: 1px;
    }

}
